.header {
    width: 30%;
    height: 10%;
    padding-bottom: 5px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: first baseline;
    border-radius: 150%;
}

.body {
    width: 100%;
    align-items: center;
    list-style-type: none;
    background-image: url("Patagonia.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.buttonJACOFER {
    background-color: rgb(255, 237, 237);
    margin: 20px;
}

.buttonMOZART {
    background-color: black;
    margin: 20px;
}

/* (continúa exactamente igual que el CSS que enviaste) */
